albumentations
coremltools
fargv
importlib_resources
Jinja2
lxml
matplotlib
numpy
opencv_python
pandas
Pillow
protobuf
pytest
PyYAML
regex
Requests
scipy
seaborn
setuptools
Shapely
scikit-image
torch
torchvision
python-bidi
